{% extends 'base.html' %}

{% block title %} About Me {% endblock title %}

{% load static %}

{% block content %}
  <div class="about-me-container">
    <img src="{% static '/images/me.jpg'  %}" alt="My Profile Picture" class="profile-picture">
    <div class="about-me-text">
      <h2>Welcome to My World!</h2>
      <p>
        Hello, I'm [Your Name], a passionate individual dedicated to exploring the wonders of technology.
        I love coding, problem-solving, and creating meaningful solutions.
        This space is where I share my journey, experiences, and insights.
      </p>
      <p>
        Feel free to join me on this exciting adventure!
      </p>
    </div>
  </div>
{% endblock content %}



















































